apiVersion: storage.k8s.io/v1
kind: CSIDriver
metadata:
  name: cinder.csi.ppcinder.com
spec:
  attachRequired: true
  podInfoOnMount: true
  volumeLifecycleModes:
  - Persistent

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: cinder-ppcluster
parameters:
  availability: default-az
  type: hdd
provisioner: cinder.csi.ppcluster.com
reclaimPolicy: Delete
volumeBindingMode: Immediate
