apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ppcluster-cinder
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: cinder-ppcluster
